<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container-fluid">
  <% if !is_admin?%>
    <div class="row-fluid">
      <div class="col-md-4">
        <% if flash[:not_found] %>
          <div class="alert alert-warning">
            <strong>No se encontró ningún cliente con ese id.</strong>
          </div>
        <% end %>
        <%= form_for :client, url: clients_search_path do |f| %>
          <%= f.label :client_number, "Numero de Cliente"%>
          <%= f.text_field :client_number, class: 'form-control form-group', :required => true %><br />
          <%= f.submit "Buscar", class:'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
